@import "tailwindcss";

@font-face {
  font-family: nazanin;
  src: url(../public/fonts/BNAZANB.TTF);
}
@font-face {
  font-family: b-titr;
  src: url(../public/fonts//BTITRBD.TTF);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}
body {
  font-family: nazanin;
  background: var(--background);
  color: var(--foreground);
}

.h1-titr {
  font-size: b-titr;
}

.bg-home {
  background-image: linear-gradient(45deg, rgb(60, 185, 247), rgb(34, 36, 35));
}
